.fh5co-nav .menu-1 ul li a{
	color: rgba(0,0,0,0.8);
}
.fh5co-nav ul li.btn-cta a span {
	border: 1.5px #5C8DAF solid;
	/*background-color: red;*/
	color: #5C8DAF;

}
.menu-1 ul li a.active{
	color: red;
}

.menu-1 ul li a:hover{
	color: #5C8DAF;
}
/*.fh5co-nav ul li a:hover span {
	color: orange;
}
*/
.fh5co-nav ul li.btn-cta a:hover span {
	color: white;
	background-color: #5C8DAF;
  /*-webkit-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);*/
}
/*.fh5co-nav ul li.active > a {
  color: #5C8DAF !important;
}*/

.fh5co-nav-toggle.fh5co-nav-white > i {
  background: rgba(0,0,0,0.5);   /* icon color */
}
.fh5co-nav-toggle.fh5co-nav-white > i::before, .fh5co-nav-toggle.fh5co-nav-white > i::after {
  background: rgba(0,0,0,0.5);   /* icon color */
}

#fh5co-offcanvas a {
}